
@{
    Layout = "_myLayout";

    var game = (Game)ViewData["game"];
    var challenges = (List<Challenge>)ViewData["challenges"];

    var user = (string)ViewData["id"]; //diff way discovered => @User.GETID method
    bool isUser = false;
    if (game.User_Id == user)
    {
        isUser = true;
    }
}

<h1 class="display-4 mb-3"> @game.GameName </h1>

@if (isUser)
{
    <div class="d-flex flex-row-reverse">


    <form method="post" asp-controller="games" asp-action="delete" asp-route-id="@game.Id">

        <button type="submit" class="btn btn-outline-danger ml-3 ">DELETE</button>

    </form>

    <a role="button" class="btn btn-outline-warning" asp-controller="games" asp-action="edit" asp-route-id="@game.Id">EDIT</a>

    </div>
}

<hr />


<h1 class="display-5">Challenges:</h1>

@if (isUser)
{
    <a asp-action="create" asp-controller="challenges" asp-route-id="@game.Id">Create new challenge</a>
}

<div class="list-group ">


    @foreach (var chlng in challenges)
    {
        <a class="list-group-item list-group-item-action text-light mb-3" asp-controller="challenges" asp-action="details" asp-route-id="@chlng.Id">
            @chlng.Title
        </a>
    }



</div>