@using Microsoft.AspNetCore.Identity
@using Keraa.Data
@inject UserManager<ApplicationUser> UserManager
@{
    var Product = (ProductModel)ViewData["Product"];
    var token = "";
}

<style>
    #map {
        height: 200px;
        /* The height is 100 pixels */
        width: 550px;
        /* The width is the width of the web page */
        left: -15px;
    }

    #D-bar {
    }

    #D-close {
        position: absolute;
        top: 0px;
        left: 100%;
    }

    #D-chat {
        position: absolute;
        top: 50px;
        left: 100%;
    }

    #D-edit {
        position: absolute;
        top: 100px;
        left: 100%;
    }

    #D-delete {
        position: absolute;
        top: 150px;
        left: 100%;
    }

    #cvrImage {
        position: absolute;
        top: 5%;
        left: -250px;
        border: hidden;
        border-radius: 200px;
        width: 335px;
        height: 335px;
    }
</style>

<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        //const uluru = { lat: -25.344, lng: 131.036 };
        const uluru = { lat: @Product.LocationLat, lng: @Product.LocationLng};
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }
</script>





<center class="card mb-3" style="max-width: 550px; position: center; margin: 0 auto; border: hidden; background-color: #fd7e14; ">
    <div class="row g-0" dir="rtl">
        <div class="col-md-12">
            <div class="card-body" style="text-align: center; margin-left: 50px;">
                <h3 class="card-title">@Product.Name</h3>
                <p class="card-text">
                    <span style="font-weight: bold;">التصنيف: </span>
                    @Product.Catagory
                </p>
                <p class="card-text">
                    <span style="font-weight: bold;">الوصف: </span>
                    @Product.ShortDesc
                </p>
                <p class="card-text">
                    <span style="font-weight: bold;">متاحة : </span>
                    @Product.IsRented
                </p>

            </div>
        </div>
        <div>
            <!--The div element for the map -->
            <div id="map"></div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script src="https://maps.googleapis.com/maps/api/js?key=@token&callback=initMap&libraries=&v=weekly"
                    async></script>
        </div>

    </div>


    <span id="D-bar">
        <span id="D-close">
            <button href type="button" onclick="location.href='/Products';" class="btn btn-outline-dark" aria-label="Close">
                <span aria-hidden="true">
                    <i class="material-icons">arrow_back</i>
                </span>
            </button>
        </span>
        <span id="D-chat">
            <a class="btn btn-outline-warning" asp-controller="ChatRooms" asp-action="Chat" asp-route-OwnerId="@Product.OwnerId">
                <span aria-hidden="true">
                    <i class="material-icons">insert_comment</i>
                </span>
            </a>
        </span>
        @if (UserManager.GetUserId(User) == Product.OwnerId)
        {
            <span id="D-edit">
                <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@Product.Id">
                    <span aria-hidden="true">
                        <i class="material-icons">edit</i>
                    </span>
                </a>
            </span>
            <span id="D-delete">
                <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Product.Id">
                    <input type="submit" value=close class="btn btn-outline-danger material-icons" />

                </form>
            </span>
        }
<div class="">
    <img id="cvrImage" src=@Product.CoverImage alt="...">
</div>
    </span>
</center>