@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<center>

    <h1>@ViewData["Title"]</h1>

    <div class="row" style="background-color:#ff6a00; width:400px; margin:0px auto; align-content:center">
        <div class="col-md-12">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>أنشئ حساب جديد</h4>
                <hr />
                <div asp-validation-summary="All" class="text-light"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-light"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-light"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-light"></span>
                </div>
                <button type="submit" class="btn btn-light" style="color: #ff6a00;">إشترك</button>
            </form>
            <br />
        </div>
        @*<div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to register.</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>*@
    </div>
</center>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
