@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model BookingModel;

    var room = (RoomModel)ViewData["Room"];
    ViewData["Title"] = room.Name + " Page";
    var img = "../" + room.Image;
    DateTime today = DateTime.Today;
    DateTime futureDate = today.AddDays(5);
    string humanToday = today.ToString("dd-MM-yyyy");
    string machineToday = today.ToString("yyyy-MM-dd");
    string humanFuture = futureDate.ToString("dd-MM-yyyy");
    string machineFuture = futureDate.ToString("yyyy-MM-dd");
  



}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Room Details</h2>
            <h3>Here you can find all the details about this room. </h3>
        </div>
    </div><!-- End Breadcrumbs -->
    <br />
 
    <h3 id="dateMsg" class="bg-danger" style="text-align: center;">@ViewData["Msg"]</h3>
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src=@img class="img-fluid" alt=@room.Name>
                    <h3>Room Name: @room.Name</h3>
                    <h1>
                        @room.Description
                    </h1>
                </div>
                <div class="col-lg-4">

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Building name:</h5>
                        <h4><a asp-area="" asp-controller="Buildings" asp-action="Details" asp-route-id=@room.BuildingId>@room.Building.Name</a></h4>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>The capacity is:</h5>
                        <p>@room.Capacity</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Facility available:</h5>
                        <p>@room.Facility.Name</p>
                    </div>
                    <form asp-controller="Bookings" asp-action="Book" method="post">
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Select date</h5>

                            <p><input id="date" asp-for="Date" type="date" value=@machineToday min=@machineToday max=@machineFuture style="margin: 2rem" /></p>
                        </div>
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Confirm</h5>
                            <button id="submit" class="get-started-btn" value="Submit">Book it</button>
                        </div>
                        <input type="hidden" asp-for="RoomId" value=@room.Id />
                    </form>
                
                    </div>
                </div>

        </div>
    </section><!-- End Cource Details Section -->
</main>
