@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MessageModel

@{
    var ii = (List<ChatModel>)ViewBag.all;
    var pro = (List<ProfileModel>)ViewBag.pro;
    var user = UserManager.FindByNameAsync(User.Identity.Name);
}
<div class="card-group">
    @foreach (var item in ii)
    {
        @foreach (var p in pro)
        {
            @if ((UserManager.GetUserId(User) == item.To ? item.UserId : item.To) == p.UserId)
            {
                <div style="max-width:300px" class="card">

                    <a asp-controller="Chat" asp-action="Two" asp-route-id="@item.Id">
                        <img class="card-img-top" height="300" width="300" src=@p.Image alt="Card image cap">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">@p.DisplayName</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last Seen @p.LastSeen</small>
                    </div>
                </div>
                }


            }
        }


    </div>
<button onclick="@("window.location.href='" + @Url.Action("Create", "Chat") + "'");" asp-controller="Chat" asp-action="Create" type="button" class="btn btn-dark">New Chat</button>
