@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MessageModel

@{
    var ii = (List<ChatModel>)ViewBag.all;
    var pro = (List<ProfileModel>)ViewBag.pro;
    var idd = (int)ViewBag.idd;
    var image = ViewBag.img;
    var msgs = (List<MessageModel>)ViewBag.msgs;
    var user = UserManager.FindByNameAsync(User.Identity.Name);
}
<style>
@*body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}*@

a{
   color:black
}
.ccontainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.ccontainer::after {
  content: "";
  clear: both;
  display: table;
}

.ccontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.ccontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>
<div style="width: 100%;
        align-content: center;">

    <div style="border:solid 1px;" class="row">
        <div class="col-2" id="imgList" style=" background-color: #424b5b;">
            <div style=" margin-left: 15px; margin-top: 20px">
                @foreach (var item in ii)
                {
                    @foreach (var p in pro)
                    {
                        @*<a asp-controller="Chat" asp-action="Two" asp-route-id="@item.Id">
                    <img style="border-radius: 50%; border:solid 1px" src=@p.Image alt="no" width="100" height="100">
                    </a>*@

                        if ((UserManager.GetUserId(User) == item.To ? item.UserId : item.To) == p.UserId)
                        {
                            <a asp-controller="Chat" asp-action="Two" asp-route-id="@item.Id">
                                <img id="mainimg" style="border-radius: 50%; border:solid 1px" src=@p.Image alt="no" width="100" height="100">
                            </a>
                            break;
                            //<a class="btn btn-warning" asp-controller="Chat" asp-action="Two" asp-route-id="@item.Id">@item.UserId</a>
                        }
                        else if ((UserManager.GetUserId(User) == item.To ? item.To : item.UserId) == p.UserId)
                        {
                            <img hidden id="imgMe" style="border-radius: 50%; border:solid 1px" src=@p.Image alt="no" width="100" height="100">


                        }

                    }
                }
                <button onclick="@("window.location.href='" + @Url.Action("Create", "Chat") + "'");" asp-controller="Chat" asp-action="Create" type="button" style="margin-top:10px" class="btn btn-dark">New Chat</button>
            </div>
        </div>
        <div class="col-10" style="padding-left: 0px; padding-right: 0px">
            <div class="ccontainer darker" style="margin-top: 0px; color: white; background-color: #293241;">
                @*<img id="iii" src="" alt="Avatar" style="width:100%; ">*@
                <p id="DName">@UserManager.GetUserName(User)</p>
                <span class="time-left">Now</span>
            </div>
            <div style="padding-left: 15px; padding-right: 15px; overflow: auto; height: 500px; width: auto" id="messagesList">


                @foreach (var item in msgs)
                {

                    if (item.UserId == @UserManager.GetUserId(User))
                    {
                        <div class="ccontainer">
                            @foreach (var item1 in ii)
                            {
                                @foreach (var p in pro)
                                {
                                    //if (item.UserId == UserManager.GetUserId(User)) continue;
                                    if ((UserManager.GetUserId(User) == item1.To ? item1.To : item1.UserId) == p.UserId)
                                    {
                                        @*<a asp-controller="Chat" asp-action="Two" asp-route-id="@item1.Id">
                                        <img src=@p.Image alt="Avatar" style="width:100%;">
                                    </a>*@
                                        if (item.Data.Length >= 3)
                                        {
                                            string imgCheck = item.Data[item.Data.Length - 3] + "" +
                                                item.Data[item.Data.Length - 2] + item.Data[item.Data.Length - 1];
                                            Console.WriteLine(imgCheck);
                                            if (imgCheck == "png" || imgCheck == "gif"
                                                || imgCheck == "peg" || imgCheck == "jpg")
                                            {
                                                <img style="max-width:200px" src=@item.Data width="150" height="150" />
                                            }
                                            else
                                            {
                                                <p>@item.Data</p>
                                                //<h1 style="margin-left:40px">@item.Data <span style="font-size:12px">-@item.Timestamp</span></h1>
                                            }
                                        }
                                        else
                                        {
                                            <p>@item.Data</p>

                                            //<h1>@item.Data</h1>
                                        }

                                        break;
                                    }

                                }
                                break;

                            }
                            <span class="time-right">@item.Timestamp</span>
                        </div>
                    }
                    else
                    {
                        <div class="ccontainer darker">

                            @foreach (var item1 in ii)
                            {
                                @foreach (var p in pro)
                                {
                                    //if (item.UserId == UserManager.GetUserId(User)) continue;
                                    if ((UserManager.GetUserId(User) == item1.To ? item1.UserId : item1.To) == p.UserId)
                                    {
                                        <p id="DN" hidden> @p.DisplayName</p>
                                        <a asp-controller="Chat" asp-action="Two" asp-route-id="@item1.Id">
                                            <img src=@p.Image alt="Avatar" class="right" style="width:100%;">
                                        </a>
                                        if (item.Data.Length >= 3)
                                        {
                                            string imgCheck = item.Data[item.Data.Length - 3] + "" +
                                                item.Data[item.Data.Length - 2] + item.Data[item.Data.Length - 1];
                                            Console.WriteLine(imgCheck);
                                            if (imgCheck == "png" || imgCheck == "gif"
                                                || imgCheck == "peg" || imgCheck == "jpg")
                                            {
                                                <img src=@item.Data width="150" height="150" />
                                            }
                                            else
                                            {
                                                <p>@item.Data</p>
                                                //<h1 style="margin-left:40px">@item.Data <span style="font-size:12px">-@item.Timestamp</span></h1>
                                            }
                                        }
                                        else
                                        {
                                            <p>@item.Data</p>

                                            //<h1>@item.Data</h1>
                                        }

                                        break;
                                    }

                                }
                                break;

                            }
                            <span class="time-left">@item.Timestamp</span>
                        </div>

                    }
                }
            </div>
            @*<div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>*@

            @*<form id="forms" asp-controller="Message" asp-action="CreateMsg" method="post" class="form-horizontal">*@
            <div class="form-group" hidden>
                <label asp-for="ChatId" style="color: black">ChatId</label>
                <div>
                    <input id="chatIdInput" class="form-control" asp-for="ChatId" value="@idd" />
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Type" style="color: black">Type</label>
                <div>
                    <input id="typeInput" class="form-control" asp-for="Type" value="Text" />
                </div>
            </div>
            <div class="form-group">
                @*<label asp-for="Data" style="color: black">Data</label>*@
                <div >
                    <input style="float:left; width:80%" id="messageInput" class="form-control" asp-for="Data" />
                    <input  style="cursor:pointer; width:20%" id="sendButton" class="btn btn-success" value="Submit">
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" style="color: black">UserId</label>
                <div>
                    <input id="userInput" class="form-control" asp-for="UserId" value="@UserManager.GetUserId(User)" />
                </div>
            </div>
            <div id="chatAdd"></div>

            <!--<div>-->
                @*<input type="submit" id="sendButton" class="btn btn-success" value="Submit">*@
                <!--<input id="sendButton" class="btn btn-success" value="Submit">
            </div>-->
            @*</form>*@
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>
    var dn = document.getElementById("DName");
    dn.innerText = document.getElementById("DN").innerText
    @*var iii = document.getElementById("iii");
    iii.src = document.getElementById("mainimg").src*@
</script>