@{
    var Docs = (List<Doctor>)ViewData["Doctors"];
}
<h2>Doctors</h2>
<div class="main-content">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Speciality</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Docs)
        {
            
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.Speciality
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Doctors" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <form method="post" asp-controller="Doctors" asp-action="Delete" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" class="btn btn-outline-danger" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-controller="Doctors" asp-action="Create"><button class="btn btn-outline-primary">Create Doctor Profile</button></a>
</div>