@{ 
    var passenger = (PassengerModel)ViewData["Passenger"];

}
<center>
    <form asp-action="Edit" method="post" class="form-horizontal">
        <div class="form-group">
            <input type="hidden" asp-for="@passenger.PassengerID" value="@passenger.PassengerID" />
        </div>
        <div class="form-group">
            <label asp-for="@passenger.FirstName">FirstName</label>
            <input type="text" asp-for="@passenger.FirstName" value="@passenger.FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="@passenger.LastName">LastName</label>
            <input type="text" asp-for="@passenger.LastName" value="@passenger.LastName" />
        </div>
        <div class="form-group">
            <label asp-for="@passenger.Nationality">Nationality</label>
            <input type="text" asp-for="@passenger.Nationality" value="@passenger.Nationality" />
        </div>
        <div class="form-group">
            <label asp-for="@passenger.PassportNo">PassportNo</label>
            <input type="text" asp-for="@passenger.PassportNo" value="@passenger.PassportNo" />
        </div>
        <div class="form-group">
            <label asp-for="@passenger.Gender">Gender</label>
            <input type="text" asp-for="@passenger.Gender" value="@passenger.Gender" />
        </div>
        <div class="form-group">
            <label asp-for="@passenger.DateOfBirth">DateOfBirth</label>
            <input asp-for="@passenger.DateOfBirth" value="@passenger.DateOfBirth" />
        </div>
        @*<div class="form-group">
            <label asp-for="@passenger.TripNo">TripNo</label>
            <input asp-for="@passenger.TripNo" value="@passenger.TripNo" />
        </div>*@
        <div class="form-group">
            <input type="submit" value="submit" class="btn btn-dark" />
        </div>
    </form>
</center>