@model PodcastModel
@{
    var Podcast = (PodcastModel)ViewData["Podcasts"];
}




<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9952e569228889.5b79c8c46b22d.gif" width="550px" height="550px" />
        </div>
        <div class="col">
            <form asp-action="Edit" method="post" class="form-horizontal">

                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Podcast.Id" />
                </div>


                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" value="@Podcast.Title" class="form-control" placeholder="title">
                </div>


                <div class="mb-3">
                    <label asp-for="Audio" class="form-label">Audio</label>
                    <input asp-for="Audio" value="@Podcast.Audio" class="form-control" placeholder="Audio">
                </div>


                <div class="mb-3">
                    <label asp-for="Podcast_image" class="form-label">Image</label>
                    <input asp-for="Podcast_image" value="@Podcast.Podcast_image" class="form-control" placeholder="Music Image">
                </div>


                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="@Podcast.Description" rows="3"></textarea>

                </div>


                <div class="form-group">
                    <input type="hidden" asp-for="ProfileId" value="@Podcast.ProfileId" />
                </div>





                <div class="from-group">
                    <input style="width:280px;margin-left:100px" type="submit" class="btn btn-outline-dark btn-lg" value="Update" />
                </div>

            </form>

        </div>
    </div>
</div>
