@{
    var Contact = (ContactModel)ViewData["Contact"];
}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> Contact's ID: @Contact.Contact_ID</h5>
        <p class="card-text"> Sender's Name : @Contact.Sender_Name</p>
        <p class="card-text"> Sender's Email : @Contact.Sender_Email</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Message's Subject: @Contact.Masssege_Subject</li>
        <li class="list-group-item"> The Massage  : @Contact.Sender_Massege</li>
    </ul>
</div>

<a asp-controller="Contacts" asp-action="Index"> Back to Courses</a>