@{
    var owner = (List<OwnerModel>)ViewData["Owners"];
}
@*<div class="col-sm-6">
    @foreach (var ow in owner)
    {

        <div id="card" class="card bg-light box-shadow mr-5 mt-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Adopter: @ow.name</h5>
                <p class="card-text align-content-center">  age: @ow.age</p>
                <h5 class="font-weight-bold">Details:</h5>
                <p class="card-text"> phone: @ow.phone</p>
                <p class="card-text">  email: @ow.email</p>
                <p class="card-text">  gender: @ow.gender</p>
                <p class="card-text">  reason: @ow.reason</p>
                <p class="card-text">  image: @ow.image</p>
                <div>
                    <a style="white-space: nowrap;" asp-controller="Owner" asp-action="Edit" asp-route-id="@ow.id">Edit</a> |
                    <form asp-controller="Owner" asp-action="Delete" asp-route-id="@ow.id">
                        <input type="submit" class="" value="Delete">
                    </form>
                </div>
            </div>
        </div>}
</div>*@


<div class="" style="background-color: darkturquoise">
    @await Html.PartialAsync("_NavPartial")
</div>
<center class=" text-center" style="background-color:lightcyan; padding:30px">
    <div class="row">
        @foreach (var ow in owner)
        {
            <div class="card bg-light box-shadow mr-5 mt-2 p-0 border-0" style="width: 18rem; padding:0">
                <div class="">
                    <img class="card-img-top " src="@ow.image" style=" height: 18rem;">
                    <div class="bg-light" style="width: 100%; height: 20px; border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%; position: absolute; top: 270px; "></div>

                    <div class="pt-2 pb-2">
                        <h5 class="card-title" style="color:#333333; z-index:1">@ow.name</h5>
                        <span style="color:#333333">@ow.gender ⋆ @ow.email ⋆ @ow.phone  </span>
                        <span style="color:#333333">@ow.reason </span>

                    </div>
                    <div class="d-flex justify-content-between text-center m-2">
                        <a class="btn btn-outline-dark" asp-controller="Adopter" asp-action="Edit" asp-route-id="@ow.id">Edit</a>
                        <form  asp-action="Delete" asp-route-id="@ow.id">
                            <input type="submit" class="btn btn-outline-danger" value="Delete">
                        </form>
                    </div>
                </div>
            </div>}
    </div>
</center>


