@{
    var Places = (PlaceModel)ViewData["Places"];
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Lat</th>
            <th scope="col">Lng</th>
            <th scope="col">Img</th>
            <th scope="col">LessorId</th>
            <th scope="col">RenterId</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">@Places.Id</th>
            <td>@Places.Title</td>
            <td>@Places.Description</td>
            <td>@Places.Price</td>
            <td>@Places.Lat</td>
            <td>@Places.Lng</td>
            <td>@Places.Img</td>
            <td>@Places.LessorId</td>
            <td>@Places.RenterId</td>
        </tr>
    </tbody>
</table>