@model ReservationsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{var Reservation = (List<ReservationsModel>)ViewData["Reservations"]; }

@Html.Partial("_NavParkingPartial")

<center>
    <table class="table table-hover" style="height:600px; width:700px; text-align:center; background-color: white; box-shadow: 5px 10px 18px #000000;">
        @{ foreach (var reservation in Reservation)
            {
                if (reservation.IDUser == @UserManager.GetUserId(User))
                {
                    <thead>
                        <tr>
                            <th scope="col" style="color: #000000; font-size:20px ">Id</th>
                            <th scope="col" style="color: #000000; font-size:20px">Parking Id </th>
                            <th scope="col" style="color: #000000; font-size:20px">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style=" color: #000000; font-size: 15px ">@reservation.Id </td>
                            <td style="color: #000000; font-size: 15px ">  @reservation.ParkingId </td>
                            <td style=" color: #000000;font-size:15px">@reservation.Date  </td>
                           
                        </tr>
                    </tbody>
                }
            }
        }

    </table>
</center>
