@{
    var Singers = (List<SingerModel>)ViewData["Singers"];
    var count = 0;
}

<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Singer in Singers)
        {
            <tr>
                @{count++;}
                <th scope="row">@count</th>
                <td>@Singer.Name</td>
                <td><img src="@Singer.Photo" width="150px" height="210px"/></td>
                <td>@Singer.Info </td>
                <td><button type="button" class="btn btn-dark"><a style="color:white" href="/Singers/details/@Singer.Id"> SHOW </a></button></td>
                <td><button type="button" class="btn btn-dark"><a style="color:white" href="/Singers/edit/@Singer.Id"> Edit </a></button></td>
                <td>
                    <form asp-action="Delete" asp-route-id="@Singer.Id" method="post">
                        <input type="submit" value="Destroy" class="btn btn-danger" />
                    </form>
                </td>


            </tr>
        }


    </tbody>
</table>