@model IEnumerable<Project04_Auth_CRUD_ASP.NET.Models.PriceModel>

@{
    Dictionary<string, int> TableHelper = (Dictionary<string, int>)ViewData["TableHelper"];
}

<h1>Prices</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="2" >
                @Html.DisplayNameFor(model => model.Barber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, int> item in TableHelper)
        {
            var enter = true;
            foreach (var ele in Model)
            {
                if (ele.Barber.Name == item.Key)
                {
                    <tr>
                        @if (enter)
                        {
                            enter = false;
                            <th colspan="2" rowspan="@item.Value">
                                @item.Key
                            </th>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => ele.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ele.Time.Value)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@ele.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@ele.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@ele.Id">Delete</a>
                        </td>
                    </tr>

                }
            }
        }
    </tbody>
    </table>
