@model CommentsModel

@{
    var Services = (ServicesModel)ViewData["Services"];
    var comments = (List<CommentsModel>)ViewData["comments"];
}



<div class=" mb-5" style=" text-align:center">
    <div class="card rounded">
        
        <div class="card-body row ">
            <div class="col-6">
                <h1>@Services.servName </h1>
                <p> @Services.servOverview</p>
            </div>
            <div class="col-6 rounded" style="background:url(@Services.servLogo) center center; background-size:cover">

            </div>
        </div>

        <div class="card-body">
            <div class="d-flex justify-content-center mt-3">
                <a href=@Services.servWebsite class="large material-icons" style="color:blue;">language</a>


                <a href=@Services.servLocation class="large material-icons" style="color:blue;">location_on</a>



                <a href="/Services" class="large material-icons" style="color:blue;">keyboard_arrow_right</a>
            </div>
            <div>
                <h1 class="text-2xl mt-4">Comments</h1>
                <hr />
                <div>
                    @foreach (var c in comments)
                    {
                        <div class="p-2 bg-gray-200 rounded-lg mt-4">
                            <div class="flex justify-between">
                                <span class="text-gray-800 text-sm italic">@c.Date</span>
                                <form asp-controller="Comments" asp-action="Delete" asp-route-id="@c.Id">
                                    <input  class="btn btn-outline-danger" type="submit" value="X" />
                                </form>
                            </div>
                            <p class="text-2xl">
                                @c.Content
                            </p>

                        </div>
                    }
                </div>
                <div class=" p-4 bg-gray-100 mt-4 rounded">
                    <form asp-controller="Comments" asp-action="Create" asp-route-id="@Services.Id">
                        <label asp-for="Content">Add comment</label>
                        <br />
                        <textarea class="border border-black rounded-md p-2" asp-for="Content" cols="35" rows="3"></textarea>
                        <br/>
                        <input class="btn btn-outline-success" type="submit" value="Add comment" />
                    </form>
                </div>

            </div>


        </div>


        </div>

    </div>

    </div>
    