@{ var c = (CatModel)ViewData["Cat"];
    var o = (OwnerModel)ViewData["Owner"];
    var l = (LocationModel)ViewData["Location"];
}

<div class="" style="background-color: darkturquoise">
    @await Html.PartialAsync("_NavPartial")
</div>
<div class="col-sm-6">

    <div class="card bg-light box-shadow mr-5 mt-2" style="width: 18rem; border:0">
        <div class="card-body">
            <img class="card-img-top" src="@c.image" alt="Card image cap">
            <h5 class="card-title">@c.name</h5>
            <p class="card-text"> @c.age * @c.gender * @c.health </p>
            <h5 class="font-weight-bold">Meet @c.name:</h5>
            <p class="card-text align-content-center">  @c.description</p>
            <h5 class="font-weight-bold">Address:</h5>
            <p class="card-text">  @l.address</p>
        </div>
    </div>
</div>

<div class="col-sm-6">

    <div class="card bg-light box-shadow mr-5 mt-2" style="width: 18rem; border:0">
        <div class="card-body">
            <img class="card-img-top" src="@o.image" alt="Card image cap">
            <h5 class="card-title">Owner: @o.name</h5>
            <h5 class="font-weight-bold">Details:</h5>
            <p class="card-text"> phone: @o.phone</p>
            <p class="card-text align-content-center">  age: @o.age</p>
            <p class="card-text">  gender: @o.gender</p>
            <p class="card-text">  email: @o.email</p>

        </div>
    </div>
</div>
<div class="d-grid gap-2">
    <a href="/Adopter/Create/@c.id"><button type="button" class="btn btn-info">Adopt Me</button></a>
</div>



