@{ var c = (CatModel)ViewData["Cat"];
    var o = (OwnerModel)ViewData["Owner"];
    var l = (LocationModel)ViewData["Location"];
}

<style>
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: smaller;
    }
    input {
        border: 0;
        background-color: #e4e9eb;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
        width: 250px;
    }
</style>
<div class="" style="background-color: #71d3d1 ">
    @await Html.PartialAsync("_NavPartial")
</div>
<div class="container01">

    <div class="row wrapp">
        <div class="col-5 left-side">
            <div class="">
                <img src="@c.image" alt="Car" class="img01 rounded-circle" />
            </div>
            <div class="title01">
                <h3>@c.name</h3>
                <p>
                    @c.age * @c.gender * @c.health *@c.breed
                </p>
                <h3>Meet @c.name</h3>
                <p>
                    @c.description
                </p>
                <h5>
                   location:  @l.address
                </h5>

                <img src="img/continue.png" alt="" />
            </div>
        </div>
        <div class="col-7 right-side text-center">
            <h3>Owner information</h3>
            <form action="">
                <div class="row">
                    <label class="col-6">Name</label>
                    <label class="col-6">@o.name</label>
                    
                </div>
                <div class="row">
                    <label class="col-6">Gender</label>
                    <label class="col-6">@o.gender</label>
                </div>
                <div class="row">
                    <label class="col-6">Age</label>
                    <label class="col-6">@o.age</label>
                </div>
                <div class="row">
                    <label class="col-6">Email</label>
                    <label class="col-6">@o.email</label>
                </div>
                <div class="row">
                    <label class="col-6">Mobile</label>
                    <label class="col-6">@o.phone</label>
                </div>
                
            </form>
            <div class="btns">
                <a href="/Adopter/Create/@c.id"><button type="button" class="btn btn-primary">Adopt Me</button></a>
            </div>
        </div>
    </div>
</div>


