@model IEnumerable<Project04_Auth_CRUD_ASP.NET.Models.ReservationJoin>

@{
    ViewData["Title"] = "Reservations";
}

<div class="bg-all p-3 mt-5 main-font custom-color">
    <h1 class="mb-3">Reservations</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Barber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Barber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>