@{
    ViewData["Title"] = "Branches";
    var Branches = (List<BranchModel>)ViewData["Branches"];

}
<style>
#padding{
    padding : 10px;
    margin :20px;
    padding-left:80px;
}
.card{
    min-height: 100px
}


</style>

<h2 class="text-center text-success text header" > Our Branches</h2>

@*<div class="row justify-content-center">*@
<center>
    <div class="container">
        <div class="row">
            @foreach (var branch in Branches)
            {


                <div class="col-3" id="padding">
                    <div class="card text-white bg-success" style="width: 18rem; height:300px">
                        <div class="card-body">
                            <h5 class="card-title">@branch.Name - @branch.City</h5>
                            <p class="card-text">@branch.Address, @branch.City </p>
                            <p class="card-text">Telephone: @branch.Telephone</p>
                            <p class="card-text">Mobile: @branch.Mobile</p>
                            <p class="card-text">@branch.Email</p>
                        </div>
                    </div>

                </div>



            }
        </div>
    </div>
</center>



