
<link href="~/css/newcard.css" rel="stylesheet">
-@{var courses = (List<CourseModel>)ViewData["courses"];
    Layout = "CourseLayout";

<section id="team" class="pb-5 oph">
    <div class="container">
        <h5 class="section-title h1">Tuwaiq's Best Courses</h5>
        <div class="row">
            @{ 
                foreach (var course in courses)
                {


            <!-- -->
            <div class="col-xs-12 col-sm-6 col-md-4 opf" >
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="@course.pic" alt="card image"></p>
                                    <h4 class="card-title">@course.name</h4>
                                    <p class="text"><small class="text-muted">available only for : @course.price $</small></p>
                                    <a asp-controller="Courses" asp-action="Details" asp-route-Id="@course.Id" class="btn btn-primary btn-sm"><i class="fa fa-plus">Details</i></a>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">@course.name</h4>
                                    <p class="text">@course.description</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" asp-controller="Courses" asp-action="Edit" asp-route-Id="@course.Id">
                                                <i class="fa fa-pencil">Edit</i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <form asp-action="Delete" asp-route-id="@course.Id" method="post">
                                                <input type="submit" value="Delete" class="fa btn-danger" />
                                            </form>
                                        </li>
                                        <br />
                                        <li class="list-inline-item">
                                            <form asp-controller="UserProfiles" asp-action="Enroll" asp-route-id="@course.Id" method="post">
                                                <input type="submit" value="Enroll" class="btn btn-danger" style="border: 2px solid ;margin-top:10px;padding:6px;padding-top:4px;padding-bottom:4px;"/>
                                            </form>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    }
                }

        </div>
    </div>
</section> 
    }