@model AirlineSystem.Models.TripModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TripModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabinClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabinClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoadType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoadType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
