@model IEnumerable<Admins>

@{
    ViewData["Title"] = "Index";
}

@Html.Partial("_LayoutPartial")
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RememberMe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RememberMe)
            </td>
            <td>
                <a class ="btn btn-info"  asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a class ="btn btn-info" asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a class ="btn btn-info" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
