@model AuthorModel
@{
    var author = (AuthorModel)ViewBag.Author;
    ViewData["Title"] = author.FirstName+" "+author.LastName;
    
}

<div class="ui center aligned container" style="margin-bottom:30px">
    <div class="ui cards" style="margin-left:85px; margin-bottom:20px">

        <div class="card">
            <div class="image">
                <img src=@author.Avatar>
            </div>
            <div class="content">
                <div class="header">@author.FirstName @author.LastName</div>
            </div>
            <div class="extra content">
                <span>
                    <i class="pencil alternate icon"></i>
                    @author.Books.Count Books
                </span>
            </div>
        </div>
        <div class="card" style="width:650px;">

            <div class="content">
                <div class="header">@author.FirstName @author.LastName</div>
                <div class="meta" style="text-align:left; margin-left:20px; font-size:larger">
                    <br />
                    <br />
                    @author.Biography
                </div>
            </div>

        </div>

    </div>

</div>
<div class="ui container" style="padding-bottom:100px">
    <h3 class="ui dividing header" style="margin-left:85px;">All Books</h3>
    <div class="ui cards" style="margin-left:85px; margin-bottom:20px;">

        @if (author.Books.Count > 0)
        {
            @foreach (var book in author.Books)
            {

                <div class="card">
                    <a class="image" asp-controller="books" asp-action="details" asp-route-id=@book.Id>
                        <img src=@book.Cover style="max-height:437px">
                    </a>
                    <div class="content">
                        <div class="header">@book.Title</div>
                        <div class="meta">
                            @author.FirstName @author.LastName
                        </div>
                    </div>

                </div>

            }
        }
        else
        {
            <p>
                ... No Books
            </p>
        }




    </div>
</div>
