@model AdvanceUser
@{
    var user = (AdvanceUser)ViewData["user"];
    }

<div>
    <p><strong> User Name:</strong> @user.UserName</p>
    <p><strong> User Email:</strong> @user.Email</p>
    <p><strong> User First Name: </strong>@user.FirstName</p>
    <p><strong> User Last Name:</strong> @user.LastName</p>
    <p><strong> User Mobile Number: </strong>@user.MobileNumber</p>
</div>