@model IEnumerable<eBookshelf.Models.EbookModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" asp-action="Create">Create New</a>
            <a class="btn btn-outline-dark mt-auto" asp-controller="Converter" asp-action="Index">Create New Book From A Website</a>
     </div>
</p>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
            <div class="col-3 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="@item.CoverImg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">@item.Name</h5>
                            <span class="text-muted">@item.Author</span><br />
                            <span class="text-muted">Added on @item.CreationDate.ToShortDateString()</span>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="row text-center">
                            <a asp-controller="Reader" asp-action="Index" asp-route-id="@item.Id" class="btn btn-outline-dark m-auto"><i class="fab fa-readme"></i></a>
                            <a class="btn btn-outline-dark m-auto" href="@item.ContentUrl"><i class="fas fa-download"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark m-auto"><i class="fas fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</section>