@model ambassador
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@{
    var ambassador = (ambassador)ViewData["ambassador"];
}
<form asp-action="Edit" method="post" class="form-horizontal text-center" style="margin-top:50px !important ;margin-bottom:130px !important">
    <div class="form-group">
        <div>
            <input type="hidden" asp-for="Id" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName">الاسم الأول</label>
        <div>
            <input asp-for="FirstName" value="@ambassador.FirstName" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName">اسم العائلة</label>
        <div>
            <input asp-for="LastName" value="@ambassador.LastName" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description">الوصف</label>
        <div>
            <input asp-for="Description" value="@ambassador.Description" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email">الايميل</label>
        <div>
            <input asp-for="Email" value="@ambassador.Email" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <div>
            <input asp-for="Image" value="@ambassador.Image" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CharityId">رقم الجمعية</label>
        <div>
            <input asp-for="CharityId" value="@ambassador.CharityId" />
        </div>
        <div class="form-group">
            <input type="submit"  style="background-color:#948639 !important; border:solid; border-block-width:2;border-color:black; margin-top:20px" class="btn btn-primary" value="تحديث" />
        </div>
    </div>
</form>