
@{
    var hotel = (HotelModel)ViewData["Hotel"];

    var roomList = (List<RoomModel>)ViewData["Rooms"];

    var user = (AdvanceUser)ViewData["user"];

}

<h3>Hotel Details:</h3>

<div class="card mb-3">
    <h3 class="card-title text-center">@hotel.HotelName</h3>
    <img class="card-img-top" src="@hotel.HotelImage" alt="Card image cap">
    <div class="card-body">

        <p class="card-text"><strong>Phone Number :</strong>@hotel.PhoneNumber</p>
        <p class="card-text"><strong>City :</strong>@hotel.City</p>
        <p class="card-text"><strong>State :</strong>@hotel.State</p>
        <p class="card-text"><strong>ZipCode :</strong>@hotel.ZipCode</p>

    </div>

</div>

@foreach (var r in roomList)
{
    if (r.HotelId == hotel.HotelId)
    {
        <div class="card" style="width: 20rem; float: left; margin-left: 10px; margin-right: 10px; margin-bottom: 20px; border-radius: 8px;">
            <img class="card-img-top" border-radius="8px;" height="200px;" src="@r.RoomImage" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Room @r.RoomNumber</h4>
                <p class="card-text"><strong>Room Description:</strong>@r.RoomDescribtion</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><strong>Room Type :</strong>@r.RoomType</li>
                <li class="list-group-item"><strong>Room Price :</strong>@r.RoomPrice</li>
                <li class="list-group-item"><strong>Room Status :</strong>@r.RoomStatus</li>
            </ul>
            <div class="card-body">
                <a type="button" class="btn btn-light" asp-controller="rooms" asp-action="details" asp-route-id="@r.RoomId"> Details</a>
                <a type="button" class="btn btn-light" asp-controller="bookings" asp-action="create" asp-route-id="@r.RoomId"> Book </a>

                @if (user !=null && user.Admin == true)
                {
                    <form method="post" asp-controller="Rooms" asp-action="Delete" asp-route-id="@r.RoomId">
                        <input type="submit" value="Remove" class="btn btn-danger" />
                    </form>

                }
                else
                {
                    <a asp-action="_NotFound" />
                }


            </div>
        </div>
        
    }
   
}

@if (user != null && user.Admin == true)
{
<div>
    <a class="btn btn-primary" asp-action="create" asp-controller="rooms" asp-route-id="@hotel.HotelId">Add New Room</a>

</div>
    
}

<div>
    <a class="btn btn-dark position-absolute" asp-controller="Hotels" asp-action="Index"> Back to Hotels </a>
</div>
