
@{ List<FoodModel> food = (List<FoodModel>)ViewData["TypeMatch"];
    List<FavoriteModel> fav = (List<FavoriteModel>)ViewData["Fav"];
    FoodModel food1 = (FoodModel)ViewData["TypeMatchs"];
}
@{
    ViewData["Title"] = "Details";

}
<style>
    .card-m {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: .3rem;
    }
</style>

<h1>@food1.FoodType</h1>


<br />
<br />

<div class="card-m">
    @foreach (FoodModel prd in food)
    {
        <div class="card" style="width: 18rem;">
            <a asp-controller="Food" asp-action="Details" asp-route-id="@prd.Id"><img class="card-img-top" src="@prd.FoodImage" /> </a>
            <div class="card-body">
                <h5 class="card-title">@prd.FoodName</h5>
                <h4>Type of the Food: <a asp-controller="Food" asp-action="Type" asp-route-type="@prd.FoodType">@prd.FoodType</a></h4>
                <div style="display:flex; left:100%">
                    <form asp-controller="Favorite" asp-action="AddToFavCart" asp-route-id="@prd.Id" method="post" class="form-horizantal">
                        <input type="submit" class="btn btn-danger" value="Favorite" />
                    </form>
                    <a class="btn btn-dark" asp-controller="Food" asp-action="Edit" asp-route-id="@prd.Id">Edit</a>
                    <form method="post" asp-controller="Food" asp-action="Delete" asp-route-id="@prd.Id">
                        <input type="submit" value="Delete" class="btn btn-dark" />
                    </form>
                </div>

            </div>
        </div>
    }
</div>


