@{
    var Proudcts = (List<ProductModel>)ViewData["Products"];
    var count = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Product in Proudcts)
        {
        <tr>
            @{ count++;}
            <th scope="row">@count</th>
            <td>@Product.Name</td>

            <td>@Product.Price SAR</td>
            <td><img src="@Product.Image" style="max-width:200px" alt="@Product.Name"></td>
            <td><button type="button" class="btn btn-dark"><a style="color:white" href="/products/details/@Product.ProductId"> SHOW </a></button></td>


            <td><a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@Product.ProductId">Edit</a></td>
            <td>
                <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Product.ProductId">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
        }


    </tbody>
</table>

