@{
    var Profiles = (List<ProfileModel>)ViewData["Profiles"];
    var Podcasts = (List<PodcastModel>)ViewData["Podcasts"];
    var id = (string)ViewData["userid"];

}

@foreach (var Profile in Profiles)
{
    if (Profile.UserId == id)
    {
        <div>
            <div class="MyprofileMain">
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover" style="background-image: url( @Profile.Background_Image );background-size: cover;background-repeat: no-repeat">
                        <div class="media align-items-end profile-head">
                            <div class="profile mr-3" style="transform: translateY(5rem)"><img src=@Profile.Image alt="..." width="150" class="rounded mb-2 img-thumbnail"><a href="/Podcast/Create/@Profile.Id" class="btn btn-outline-dark btn-sm btn-block">Add New Podcast</a></div>
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">@Profile.Name</h4>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                            </li>
                        </ul>
                    </div>

                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Podcast</h5><a href="/podcast/" class="btn btn-link text-muted">See All Podcast</a>
                        </div>
                        <div class="row">
                            @foreach (var Podcast in Podcasts)
                            {
                                if (Podcast.ProfileId == Profile.Id)
                                {
                                    <div class="container text-center card1" style="height:260px;margin-top:40px">

                                        <div class="row">

                                            <div class="col-4">
                                                <img src=@Podcast.Podcast_image class="container_img" />
                                            </div>
                                            <div class="col-8" style="text-align:left;margin-top:50px">
                                                <a class="link1" href="/podcast/Details/@Podcast.Id">
                                                    <h1 style="color: #78a09c">@Podcast.Title</h1>
                                                </a>

                                                <br />
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <a asp-controller="Podcast" asp-action="Edit" asp-route-id="@Podcast.Id"><i class="fas fa-edit" style="font-size:25px"></i></a>

                                                        </div>
                                                        <div class="col">
                                                            <form asp-controller="Podcast" asp-action="Delete" asp-route-id="@Podcast.Id" method="post">

                                                                <input style="margin-left:-300px;margin-top:-2px;color:red" type="image" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-1/21/52-512.png" alt="Submit" width="27" height="27" />


                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>


                                                <audio controls style=" width: 655px;margin-top:20px">

                                                    <source src=@Podcast.Audio type="audio/mpeg">
                                                    Your browser does not support the audio element.
                                                </audio>


                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}






