@model IEnumerable<Book_Project.Models.AuthorModel>

<br />

<h1>Authors List</h1>

<br />

<a asp-action="Add" type="button" class="btn btn-primary">Add Author</a>

<!--Table-->
<table class="table table-hover table-fixed">

    <!--Table head-->
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Books</th>
            <th>Options</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        @{

            foreach (var BookAuthor in Model)
            {

                <tr>
                    <th scope="row">@BookAuthor.Id</th>

                    <td>@BookAuthor.Name</td>
                    <td>
                        @foreach (var Book in BookAuthor.Books)
                        {
                            <ul>
                                <li>@Book.Name</li>
                            </ul>

                        }
                    </td>

                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a asp-controller="Authors" asp-action="Edit" asp-route-id="@BookAuthor.Id" type="button" class="waves-effect waves-light btn btn-warning" style="margin-right:5px"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                <form method="post">
                                    <button asp-controller="Authors" asp-action="Delete" asp-route-id="@BookAuthor.Id" type="submit" class="waves-effect waves-light btn btn-danger" style="margin-right:5px"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>

            }

        }
    </tbody>
    <!--Table body-->

</table>
<!--Table-->