@model GiftShopV1.Models.FlowerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlowerModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowerImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowerImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowerPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowerPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlowerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
