@model InstructorModel
@{
    var Instructor = (InstructorModel)ViewData["Instructor"];
    var Courses = (CourseModel)ViewData["Course"];
}
<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <div>
            <input type="hidden" asp-for="Instructor_ID" value="@Instructor.Instructor_ID" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Instructor_Name">Instructor's Name</label>
        <div>
            <input asp-for=" Instructor_Name" value="@Instructor.Instructor_Name" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Instructor_BIO"> Instructor's BIO </label>
        <div>
            <input asp-for="Instructor_BIO" value="@Instructor.Instructor_BIO" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Instructor_Image"> Instructor's Image</label>
        <div>
            <input asp-for="Instructor_Image" value="@Instructor.Instructor_Image" />
        </div>
    </div>
@*
    @foreach (var C in Course)
    {
        if (C.Course_ID == Instructor.Instructor_ID)
        {
            <div class="form-group">
                <label asp-for="@C.Course_Name">Course 's Name</label>
                <div>
                    <input asp-for="Course_Name" value="@C.Course_Name" />
                </div>
            </div>
        }
    }*@
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update" />
    </div>
</form>
<a asp-controller="Instructors" asp-action="Index"> Back to Instructor </a>