@model RoomBookingModel
@{
    var user = (AdvanceUser)ViewData["user"];
    var Bookings = (List<RoomBookingModel>)ViewData["Bookings"];
}

<h1>All Bookings</h1>
<div>
    @if (user != null && user.Admin == true)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Late Checkout</th>

                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Bookings)
                {
                <tr>
                    <td scope="row">@booking.RoomBookingId</td>
                    <td scope="row">@booking.BookingDate</td>
                    <td scope="row">@booking.fromDate.ToShortDateString()</td>
                    <td scope="row">@booking.toDate.ToShortDateString()</td>
                    <td scope="row">@booking.IsLateCheckout</td>

                    <td><button type="button" class="btn btn-dark"><a style="color:white" href="/Bookings/details/@booking.RoomBookingId">Show</a></button></td>

                    @*<td><a class="btn btn-primary" asp-controller="Hotels" asp-action="Edit" asp-route-id=@hotel.HotelId>Edit</a></td>
        <td>
            <form method="post" asp-controller="Hotels" asp-action="Delete" asp-route-id="@hotel.HotelId">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>

        </td>*@
                </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-controller="Bookings" asp-action="Create">Add Booking</a>
    }
    

</div>

    
<div>
    @*@<a asp-action="Edit" asp-route-id="@Model.RoomBookingId">Edit</a> *@|
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
