@model RoomBookingModel
@{
    var user = (AdvanceUser)ViewData["user"];
    var Bookings = (List<RoomBookingModel>)ViewData["Bookings"];
    var hotels = (List<HotelModel>)ViewData["hotels"];
    var rooms = (List<RoomModel>)ViewData["rooms"];
}

<h1>Bookings Details</h1>
<div class="card">
    <div>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Id</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Number of Guests</th>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>


                    @*<th scope="col">Details</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Bookings)
                {
                    <tr>
                        <td scope="row">@booking.RoomBookingId</td>
                        <td scope="row">@booking.BookingDate.ToShortDateString()</td>
                        <td scope="row">@booking.fromDate.ToShortDateString()</td>
                        <td scope="row">@booking.toDate.ToShortDateString()</td>
                        <td scope="row">@booking.NumberOfGuests</td>


                        <td scope="row">@user.FirstName</td>
                        <td scope="row">@user.LastName</td>
                        <td scope="row">@user.DateOfBirth.ToShortDateString()</td>
                        <td scope="row">@user.Email</td>
                        <td scope="row">@user.MobileNumber</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <h3>Room details</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Room Type</th>
                    <th scope="col">Room Price</th>
                    <th scope="col">Room Description</th>

                    <th scope="col">Hotel Name</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in rooms)
                {
                    foreach (var b in Bookings)
                    {
                        if (room.RoomId == b.RoomId)
                        {
                            <tr>
                                <td scope="row">@room.RoomType</td>
                                <td scope="row">@room.RoomPrice</td>
                                <td scope="row">@room.RoomDescribtion</td>

                                 @foreach(var h in hotels)
                                  {
                                        if (h.HotelId == room.HotelId)
                                        {
                                            <td scope="row">@h.HotelName</td>
                                            <td scope="row">@h.PhoneNumber</td>
                                        }

                                  }

                            </tr>
                        }
                    }

                }
            </tbody>
        </table>
    </div>
</div>
