@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@model Challenge
@{
    Layout = "_myLayout";

    var challenge = (Challenge)ViewData["challenge"];
    var diff = challenge.Difficulty;
    var list = (List<string>)ViewData["diff"];

    //var comments = (List<Comment>)ViewData["comments"];
}

<a class="btn-link" href="/games/details/@challenge.Game.Id"> &#8592; Go Back</a>

<h1 class="display-4">@challenge.Title </h1>
<h3 class="text-muted">@challenge.Game.GameName</h3>

<div class="d-inline">
    <h6>
        Difficulty:
        <b style="font-size: 25px">
            @if (challenge.Difficulty == "Easy")
            {
                <span class="text-success">
                    @diff
                </span>

            }
            else if (challenge.Difficulty == "Normal")
            {


                <span class="text-warning">
                    @diff
                </span>
            }
            else
            {
                <span class="text-danger">
                    @diff
                </span>
            }
        </b>
    </h6>

</div>


<div class="d-flex">

    <div class="mr-auto">From: @challenge.User.UserName</div>
    @if (challenge.UserId == @UserManager.GetUserId(User))
    {

        <button type="submit" class="btn btn-link edit" data-bs-toggle="modal" data-bs-target="#createModel"><i class="fas fa-pen fa-2x"></i></button>


        <form method="post" asp-controller="challenges" asp-action="delete" asp-route-id="@challenge.Id">
            <button type="submit" class="btn btn-link trash"><i class="fas fa-trash fa-2x"></i></button>
        </form>
    }

</div>




<p>@challenge.Description</p>





<div class="modal fade" id="createModel" tabindex="-1" aria-labelledby="createModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-controller="challenges" asp-action="edit" asp-route-id="@challenge.Id" class="form-horizontal" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModelLabel">Create New Game</h5>
                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <label asp-for="Title">Title: </label>
                        <div>
                            <input asp-for="Title" value="@challenge.Title" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Description: </label>
                        <div>
                            <input asp-for="Description" value="@challenge.Description" />
                        </div>
                    </div>

                    <select class="form-select" asp-for="Difficulty"
                            asp-items="@(new SelectList(list))">
                    </select>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Edit" />
                </div>
            </form>
        </div>
    </div>
</div>




<partial name="_CommentsPartial" />

@*@Html.Partial("_ViewPartial") not recommended  *@
