@{
    string bgImage = "/pexels-lumn.jpg";
    var product = (ProductModel) ViewBag.Product;
    var category = (CategoryModel) ViewBag.Category;
}

<div class="" style="background: url(@product.img) no-repeat center center; background-size: cover; height: 800px">
    <div class="text-center" style="height: 800px; background-color: rgba(0,0,0,0.5); ">
        @await Html.PartialAsync("_PartialNavbar")
        <div style=" height:100%; display:flex; flex-direction:column;justify-content: center">
            <h1 class="display-4" style="color: white; font-size: 120px; font-weight: bold; font-family: Pattaya,serif;">@product.Name</h1>
            
        </div>
    </div>
</div>

<div class="Homebody container text-center">
    <h1 style=" font-weight: bold; font-family: Pattaya,serif;">@product.Name</h1>
    <h4 style=" font-weight: bold; font-family: Pattaya,serif;">@category.Name</h4>
    <h5 style=" font-weight: bold; font-family: Pattaya,serif;">@product.Price$</h5>
    <div><a style="white-space: nowrap;" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a> 
        <form asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">
            <input type="submit" class="" value="Delete" style="display: inline-block; background-color: rgba(0,0,0,0); border: 0; color: red">
        </form></div>
</div>

       