@{

    string bgImage = "/pexels-lumn.jpg";
    var products = (List<ProductModel>) ViewData["Products"];
}

<div class="" style="background: url(@bgImage) no-repeat center center; background-size: cover; height: 800px">
    <div class="text-center" style="height: 800px; background-color: rgba(0,0,0,0.5); ">
       @await Html.PartialAsync("_PartialNavbar")
        <div style=" height:100%; display:flex; flex-direction:column;justify-content: center">
            <h1 class="display-4" style="color: white; font-size: 120px; font-weight: bold; font-family: Pattaya,serif;">Products</h1>
            
        </div>
    </div>
</div>

<div class="Homebody container ">
    <div class="row">
    @foreach (var product in products)
    {
        <div class="col-4 ">
           
            <div class="category-card box-shadow" style="background-image: url(@product.img);">
                <div class="category-body" style="display: flex ; flex-direction: column">
                    
                    <h4 style="color: white; font-weight: bold"><a style="color: white;" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h4>
                    <h5 style="color: white; font-weight: bold">@product.Price$</h5>
                    <form asp-action="AddToCart" method="post" asp-route-id="@product.Id">
                        <input class="large material-icons" value="add" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
    }
    </div>
</div>

