
<h1 style="color:gray; font-family:'Comic Sans MS';margin-top:120px; text-align:center">Update a Recommendations</h1>
@model Recommendation

@{
    var Recommendation = (Recommendation)ViewData["Recommendation"];
}
@using Microsoft.AspNetCore.Identity


<div style="text-align:center; margin-left:420px; margin-bottom:50px; display: inline-block">
    <form asp-action="Edit" method="post">
        <div style="  color: dimgrey;
        font-family: 'Comic Sans MS';
        text-shadow: 2px 2px 4px #000000">

            <label class="form-label" asp-for="ItemName">Name</label>
            <div class="form-outline mb-4">
                <input asp-for="ItemName" value="@Recommendation.ItemName" required class="form-control" />
            </div>

            <label class="form-label" asp-for="Image">Image</label>
            <div class="form-outline mb-4">
                <input asp-for="Image" value="@Recommendation.Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"> </span>
            </div>

            <label class="form-label" asp-for="Description">Description</label>
            <div class="form-outline mb-4">
                <input asp-for="Description" value="@Recommendation.Description" class="form-control" />
            </div>

            <label class="form-label" asp-for="Color">Color</label>
            <div class="form-outline mb-4">
                <input asp-for="Color" value="@Recommendation.Color" class="form-control" />
            </div>

            <label class="form-label" asp-for="AvailabilityLoc">Availability Location</label>
            <div class="form-outline mb-4">
                <input asp-for="AvailabilityLoc " value="@Recommendation.AvailabilityLoc" class="form-control" />
            </div>
            <br />
            <div class="form-group mb-4">
                <input type="submit" class="btn btn-info" value="Submit" />
            </div>

        </div>
    </form>
</div>
