@{
    var publisher = (Publisher)ViewData["publishers"];
}

<div class="card text-center bg-dark">
    <div class="card-header">
        <h4>Publisher Details</h4>
    </div>
    <div class="card-body">
        <h3 class="card-title">@publisher.Name</h3>
        <p class="card-text"><span>Member Id: </span> @publisher.Id</p>
        <p class="card-text"><span>Address: </span> @publisher.Address</p>
        <p class="card-text"><span>Books: </span> @publisher.Books</p>
        <a asp-controller="Publisher" asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-primary">Edit</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
